# Ejerccios de diccionarios y conjuntos

License CC by SA by @javacasm

20-23 Abril 2020

## [Ejercicios de diccionarios](#Ejercicios_diccionarios)
## [Ejercicios_de conjuntos](#Ejercicios_conjuntos)
## [Recuento de palabras](#Recuento_palabras)
## [17 fórmulas...](#17_formulas)

In [99]:
# Ejercicios Nivel Básico:
# De las webs de ejercicios anteriores hacer los restantes ejercicios de cada web

#  Ejercicios de Diccionarios <a id='Ejercicios_diccionarios'></a>
Ejercicios de [esta web](https://pynative.com/python-dictionary-exercise-with-solutions/)

## dictionary exercise 1: Below are the two lists convert it into the dictionary

In [77]:
# Ejercio 1

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

diccionario = {}
for contador in range(0, len(keys)):
    diccionario[keys[contador]] = values[contador]

print(diccionario)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [78]:
# Ejercicio 1 otra forma

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

diccionario = {}
contador = 0
for key in keys:
    diccionario[key] = values[contador]
    contador += 1
    
print(diccionario)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [79]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

sampleDict = dict(zip(keys, values)) # Buscar ZIP!!!
print(sampleDict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### dictionary exercise 2: Merge following two Python dictionaries into one

In [80]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1.copy()  # Creamos un nuevo diccionario
dict3.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### dictionary exercise 3: Access the value of key ‘history’

In [81]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

sampleDict["class"]['student']['marks']['history']

80

### dictionary exercise 4: Initialize dictionary with default values

In [110]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

company = {}

for employee in employees:
    company[employee] = defaults
    
print(company)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

### dictionary exercise 5: Create a new dictionary by extracting the following keys from a given dictionary

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
# Keys to extract

keys = ["name", "salary"]

importantElements = {}

for key in keys:
    importantElements[key] = sampleDict[key]

    
print(importantElements)

In [ ]:
# Pro way

importantElements = {k: sampleDict[k] for k in keys}

print(importantElements)

### dictionary exercise 6: Delete set of keys from Python Dictionary

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

keysToRemove = ["name", "salary"]

rests = {}

for key in sampleDict:
    if key not in keysToRemove:
        rests[key] = sampleDict[key]

print(rests)

In [ ]:
# Pro way

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

keysToRemove = ["name", "salary"]

rests = {k: sampleDict[k] for k in sampleDict.keys() - keysToRemove}

print(rests)

### dictionary exercise 7: Check if a value 200 exists in a dictionary

In [ ]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

def isValueinDict(dictio,value2Check):
    for value in dictio.values():
        if value == value2Check:
            print('% is in el dictionary'%value2Check)
            return True

isValueinDict(sampleDict,200)

In [83]:
# Pro way
sampleDict = {'a': 100, 'b': 200, 'c': 300}

200 in sampleDict.values()

True

### dictionary exercise 8: Rename key city to location in the following dictionary

In [84]:
# One way
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

newDict = {}
for key in sampleDict.keys():
for key in sampleDict.keys():
    if key == 'city':
        newDict['location'] = sampleDict['city']
    else:
        newDict[key] = sampleDict[key]
sampleDict = newDict
print(sampleDict)

IndentationError: expected an indented block (<ipython-input-84-173e3f3df239>, line 11)

In [ ]:
# Another way
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict['city']
del sampleDict['city']
print(sampleDict)

In [ ]:
# Pro way
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

### dictionary exercise 9: Get the key corresponding to the minimum value from the following dictionary

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

minValue = 10e1000
minKey = 'PotterHead'
for key, value in sampleDict.items():
    if minValue > value:
        minValue = value
        minKey = key

print('Min value {} is at {}'.format(minValue, minKey))

In [ ]:
# MegaPro way

sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

print(min(sampleDict, key=sampleDict.get))

### dictionary exercise 10: Given a Python dictionary, Change Brad’s salary to 8500

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary'] = 8500
print(sampleDict)

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

for key,value in sampleDict.items():
    if value['name'] == 'Brad':
        value['salary'] = 8500

print(sampleDict)

## Ejercicios de Conjuntos <a id='Ejercicios_conjuntos'></a>
### Ejercicios de esta [web](https://pynative.com/python-set-exercise-with-solutions/)

### Exercise Question 1: Add a list of elements to a given set

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleListtoAdd = ["Blue", "Green", "Red"]

for item in sampleListtoAdd:
    sampleSet.add(item)
    
print (sampleSet)

In [ ]:
# Pro version
sampleSet = {"Yellow", "Orange", "Black"}
sampleListtoAdd = ["Blue", "Green", "Red"]

sampleSet.update(sampleListtoAdd)
print (sampleSet)

### Exercise Question 2: Return a set of identical items from a given two Python set

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

common = set1 & set2  # operador AND
print(common)

In [ ]:
# Pro version

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

common = set1.intersection(set2)
print(common)

### Exercise Question 3: Returns a new set with all items from both sets by removing duplicates

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

all = set1 | set2 # operador OR
print(all)

In [85]:
# Pro version
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

all = set1.union(set2)
print(all)

{70, 40, 10, 50, 20, 60, 30}

### Exercise Question 4: Given two Python sets, update first set with items that exist only in the first set and not in the second set.

In [86]:
# Iterative way
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set3 = set()
for value in set1:
    if value not in set2:
        set3.add(value)
print(set3)

{10, 30}

In [87]:
# Pro & algebraic way
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set3 = set1 - set2
print(set3)

{10, 30}

### Exercise Question 5: Remove 10, 20, 30 elements from a following set at once

In [88]:
set1 = {10, 20, 30, 40, 50}

set1 = set1 - {10, 20, 30}
print(set1)

{40, 50}

In [89]:
# Pro way

set1 = {10, 20, 30, 40, 50}

set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

### Exercise Question 6: Return a set of all elements in either A or B, but not both

In [90]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

setUnion = set1&set2
# print(setUnion)
setAll = (set1|set2) - setUnion
print(setAll)

{10, 20, 70, 60}

In [91]:
# Pro way
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

### Exercise Question 7: Determines whether or not the following two sets have any elements in common. If yes display the common elements

In [92]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

common = set1 & set2
if len(common) > 0:
    print('Two sets have items in common')
    print(common)

Two sets have items in common
{10}

In [93]:
# Pro version

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

### Exercise Question 8: Update set1 by adding items from set2, except common items

In [94]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

for value in set2:
    if value not in set1:
        set1.add(value)
print(set1)

{70, 40, 10, 50, 20, 60, 30}

In [95]:
# Pro way

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

### Exercise Question 9: Remove items from set1 that are not common to both set1 and set2

In [96]:
# Clever
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

result = set2 & set1

print(result)

{40, 50, 30}

In [97]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

commons = set2 & set1
notCommons = set1-commons
set1NotCommons = set1 - notCommons
print(set1NotCommons)

{40, 50, 30}

In [98]:
#Pro way
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}

### Recuento de palabaras <a id='Recuento_palabras'></a>

In [100]:
# Ejercicio Nivel Intermedio: 
# Contador de la Frencuencia de las palabras en un texto (version1)
# Hacer una función a la que le demos un texto y devuelva un diccionario con las frecuencias de aparicion 
# de las palabras en el texto con la forma {"palabra": numAparicionesDeLaPalabra}

In [104]:
## Descargamos el texto de El Quijote de https://gist.github.com/jsdario/6d6c69398cb0c73111e49f1218960f79
import requests

URL_quijote = 'https://gist.githubusercontent.com/jsdario/6d6c69398cb0c73111e49f1218960f79/raw/8d4fc4548d437e2a7203a5aeeace5477f598827d/el_quijote.txt'

textoWeb = requests.get(URL_quijote)

texto = textoWeb.content.decode().replace('\n',' ')

In [30]:
# leemos el fichero de texto
# usaremos El Quijote en texto plano de https://gist.github.com/jsdario/6d6c69398cb0c73111e49f1218960f79
# with open("el_quijote.txt", "r") as file:
#    texto = file.read()

# print(texto)

In [105]:
# Dividimos el fichero en palabras
palabrasRaw = texto.split()

print('Hay {} caracteres y {} palabras'.format(len(texto),len(palabrasRaw)))

Hay 1038397 caracteres y 187018 palabras

In [106]:
# Función que convierte a minúsculas las palabras y elimina estos signos de puntuación
caracteresQuitar = {',','.',':',';','!','¡','?','¿'}

def limpiaPalabra(palabra):
    newPalabra = palabra.lower()
    for char in caracteresQuitar:
        newPalabra = newPalabra.replace(char,'')
    return newPalabra

In [107]:
# Limpiamos las palabras usando la función  limpiaPalabra

palabrasLimpias = []

for palabra in palabrasRaw:
    palabraLimpia = limpiaPalabra(palabra)
    palabrasLimpias.append(palabraLimpia)

In [108]:
# Contamos las veces que apararece cada palabra
contadorPalabras = {}

for palabra in palabrasLimpias:
    contadorPalabra = contadorPalabras.get(palabra)
    if contadorPalabra == None: # No ha aparecido hasta ahora
        contadorPalabras[palabra] = 1
    else:                       # Ya ha aparecido antes
        contadorPalabras[palabra] += 1

print('Hay {} palabras distintas'.format(len(contadorPalabras.keys())))
# print(contadorPalabras)

Hay 15082 palabras distintas

In [110]:
# Vamos a buscar la palabra más frecuente y que tenga al menos un cierto número de caracteres

maxRepeticion = 0
maxPalabra = 'Poterhead'
numMinimoCaracteres = 4

for palabra, cuantos in contadorPalabras.items():
    if len(palabra) > numMinimoCaracteres and cuantos > maxRepeticion:
        maxPalabra = palabra
        maxRepeticion = cuantos
        # print('({}) {}'.format(maxPalabra,maxRepeticion))

print('La palabra más frecuente es \'{}\' que se repite {} veces '.format(maxPalabra, maxRepeticion))

La palabra más frecuente es 'porque' que se repite 757 veces

In [111]:
# Función para ver las palabras que se repiten más de N veces y que tienen al menos N caracteres

def PalabrasMasRepetidas(NumRepeticiones,NumCaracteres):
    for palabra, cuantos in contadorPalabras.items():
        if len(palabra) > NumCaracteres and cuantos > NumRepeticiones:
            print('({}) -> {} veces'.format(palabra, cuantos))

In [112]:
PalabrasMasRepetidas(100,3)

(quijote) -> 706 veces
(parte) -> 181 veces
(lugar) -> 176 veces
(quiero) -> 109 veces
(mucho) -> 157 veces
(tiempo) -> 171 veces
(más) -> 965 veces
(algún) -> 140 veces
(tres) -> 106 veces
(para) -> 710 veces
(mismo) -> 121 veces
(días) -> 115 veces
(entre) -> 163 veces
(tenía) -> 218 veces
(casa) -> 146 veces
(así) -> 536 veces
(como) -> 1147 veces
(nuestro) -> 109 veces
(gran) -> 152 veces
(amigo) -> 132 veces
(decir) -> 266 veces
(esto) -> 482 veces
(alguna) -> 210 veces
(aunque) -> 268 veces
(pero) -> 434 veces
(poco) -> 228 veces
(punto) -> 127 veces
(verdad) -> 201 veces
(pues) -> 414 veces
(saber) -> 127 veces
(este) -> 351 veces
(estaba) -> 276 veces
(eran) -> 106 veces
(libros) -> 110 veces
(tanta) -> 106 veces
(gusto) -> 114 veces
(todo) -> 609 veces
(tanto) -> 247 veces
(muchas) -> 106 veces
(tierra) -> 149 veces
(todos) -> 433 veces
(haber) -> 124 veces
(bien) -> 535 veces
(porque) -> 757 veces
(razones) -> 117 veces
(cuando) -> 386 veces
(donde) -> 370 veces
(manera) -> 208 veces
(vuestra) -> 455 veces
(también) -> 123 veces
(estas) -> 127 veces
(caballero) -> 343 veces
(sólo) -> 125 veces
(tener) -> 128 veces
(aquel) -> 297 veces
(aquella) -> 217 veces
(allí) -> 266 veces
(duda) -> 102 veces
(otros) -> 120 veces
(cura) -> 208 veces
(hombre) -> 118 veces
(sobre) -> 189 veces
(había) -> 672 veces
(mejor) -> 152 veces
(barbero) -> 129 veces
(decía) -> 130 veces
(podía) -> 123 veces
(toda) -> 167 veces
(otra) -> 284 veces
(mundo) -> 170 veces
(buen) -> 199 veces
(mano) -> 148 veces
(caballeros) -> 154 veces
(menos) -> 160 veces
(estos) -> 121 veces
(ellos) -> 191 veces
(hizo) -> 145 veces
(habían) -> 142 veces
(sino) -> 318 veces
(hecho) -> 153 veces
(hacer) -> 317 veces
(ella) -> 377 veces
(luego) -> 225 veces
(qué) -> 358 veces
(quien) -> 305 veces
(antes) -> 132 veces
(fuese) -> 112 veces
(puesto) -> 168 veces
(señor) -> 400 veces
(después) -> 117 veces
(rocinante) -> 120 veces
(ahora) -> 193 veces
(quiso) -> 101 veces
(dicho) -> 180 veces
(esta) -> 315 veces
(cosa) -> 281 veces
(buena) -> 190 veces
(será) -> 111 veces
(quién) -> 123 veces
(señora) -> 239 veces
(cual) -> 401 veces
(merced) -> 399 veces
(cómo) -> 144 veces
(cosas) -> 179 veces
(día) -> 126 veces
(todas) -> 165 veces
(fuera) -> 156 veces
(hasta) -> 212 veces
(camino) -> 120 veces
(otro) -> 249 veces
(diciendo) -> 103 veces
(cuanto) -> 140 veces
(mucha) -> 116 veces
(venta) -> 110 veces
(noche) -> 107 veces
(dijo) -> 592 veces
(ojos) -> 128 veces
(parece) -> 116 veces
(digo) -> 144 veces
(respondió) -> 242 veces
(puede) -> 139 veces
(tengo) -> 185 veces
(otras) -> 137 veces
(grande) -> 102 veces
(manos) -> 110 veces
(cuenta) -> 103 veces
(está) -> 200 veces
(dios) -> 200 veces
(visto) -> 135 veces
(vida) -> 200 veces
(cielo) -> 137 veces
(sancho) -> 582 veces
(escudero) -> 106 veces
(aquí) -> 220 veces
(voluntad) -> 111 veces
(tiene) -> 166 veces
(padre) -> 195 veces
(panza) -> 116 veces
(fernando) -> 114 veces
(-respondió) -> 151 veces
(quijote-) -> 106 veces
(-dijo) -> 223 veces
(dorotea) -> 115 veces
(anselmo) -> 131 veces
(lotario) -> 136 veces
(camila) -> 143 veces

In [101]:
# Ejercicio Nivel Intermedio: 
# Contador de la Frencuencia de las palabras en un texto (version2)
# Mejorar la versión 1 del programa utilizando conjuntos

### 17 Fórmulas que cambiaron el mundo <a id='17_formulas'></a>

In [102]:
# Ejercicio 1 Nivel Avanzado:
# Ver la teoria que hay justo debajo 

# Las 17 formulas que cambiarion en mundo 
# https://medium.com/however-mathematics/17-equations-that-changed-the-world-a043a8c24022

""" Hacer una funcion que me devuelva , por orden cronologico, alguna de las ecuaciones que cambiaron el mundo , 
    en particular la funcion tiene que retornar una imagen que represente a la ecuación.
    
    >>> ecuacionesQueCambiaronElMundo(1)
    "https://miprofe.com/wp-content/uploads/2015/12/Teorema-de-pitagoras-1280x720.png"
    
    La formula de Pitagoras es la primera en el orden cronológico y de ahí lo de poner el 1 como argumento

"""

' Hacer una funcion que me devuelva , por orden cronologico, alguna de las ecuaciones que cambiaron el mundo , \n    en particular la funcion tiene que retornar una imagen que represente a la ecuación.\n    \n    >>> ecuacionesQueCambiaronElMundo(1)\n    "https://miprofe.com/wp-content/uploads/2015/12/Teorema-de-pitagoras-1280x720.png"\n    \n    La formula de Pitagoras es la primera en el orden cronológico y de ahí lo de poner el 1 como argumento\n\n'

In [6]:

def ecuacionesQueCambiaronElMundo(numero):
    
    baseURL = 'https://miro.medium.com/max/1400/'

    imagenes = ['1*u6rmNAt_EyDrtsXAKF2biA.jpeg',
                '1*BIS9EIywodO6NBZvmxKjvA.jpeg',
                '1*oTTHkok0_F65RaCRyGdnUw.jpeg',
                '1*Qw-qdhtD772qbC6Ds-7HQg.jpeg']
    
    if numero < 1 or numero > len(imagenes):
        print('El número de imagen debe estar entre 1 y {}'.format(len(imagenes)))
        return None
    
    return baseURL + imagenes[numero - 1]

In [4]:
URLImagen = ecuacionesQueCambiaronElMundo(1)

print(URLImagen)
from IPython.display import Image
from IPython.core.display import HTML 
Image(url = URLImagen , width = 1000, height = 100)

https://miro.medium.com/max/1400/1*u6rmNAt_EyDrtsXAKF2biA.jpeg

In [103]:
# Ejercicio 2 Nivel Avanzado:
# Ver la teoria que hay justo debajo 

# Las 17 formulas que cambiarion en mundo 
# https://medium.com/however-mathematics/17-equations-that-changed-the-world-a043a8c24022

""" Escoger alguna de las 17 ecuaciones y crear con ella una función "interactiva" como la "rtd" de la teoría 
     abajo que nos de en su retorno todos los posibles valores de la fórmula ya calculados a partir de los
     valores de entrada
"""

' Escoger alguna de las 17 ecuaciones y crear con ella una función "interactiva" como la "rtd" de la teoría \n     abajo que nos de en su retorno todos los posibles valores de la fórmula ya calculados a partir de los\n     valores de entrada\n'

## Usos avanzados de los diccionarios

### Diccionarios para simular la sentencia switch en Python

Se pueden ver ejemplos de su uso [aquí](https://jaxenter.com/implement-switch-case-statement-python-138315.html)

### Usando los diccionarios como valores de entrada y de salida de una función

We'll build a single function that can solve a Rate-Time-Distance (RTD) calculation by
embodying all three solutions given any two known values. With minor variable name
changes, this applies to a surprising number of real-world problems.

Solve the equation for each of the unknowns. We've shown that previously for d = r * t, the
RTD calculation:

* distance = rate * time
* rate = distance / time
* time = distance / rate

In [104]:
import warnings

In [105]:
def rtd(distance=None, rate=None, time= None):
    """ A function that solves a Rate-Time-Distance (RTD) calculation"""
    
    if distance is None:
        distance = rate * time
    elif rate is None:
        rate = distance / time
    elif time is None:
        time = distance / rate
    else:
        warnings.warning("Nothing to solve for")
    
    return dict(distance=distance, rate=rate, time=time)

rtd(distance= 30, rate=5)

{'distance': 30, 'rate': 5, 'time': 6.0}

In [106]:
# For nicely formatted output, we might do this:

result = rtd(distance=40, rate=5)

print("At {rate}kt, it takes"
     " {time}hrs to cover {distance}nm".format_map(result))

At 5kt, it takes 8.0hrs to cover 40nm

Because we've provided default values for all of the parameters, we can provide argument
values for two of the three parameters, and the function can then solve for the third
parameter. **This saves us from having to write three separate functions.**

Returning a dictionary as the final result isn't essential to this. It's simply handy. **It allows us
to have a uniform result no matter which parameter values were provided.**

We have an alternative formulation for this, one that involves more flexibility. Python
functions have an all other keywords parameter, prefixed with ** . It is often shown like this:

    ```python
        def rtd2(distance, rate, time, **keywords):
            print(keywords)
    ```
Any additional keyword arguments are collected into a dictionary that is provided to the
`**keywords` parameter. We can then call this function with extra parameters. Evaluate this
function like this:

    ```python
        rtd2(rate=6, time=6.75, something_else=60)
    ```
    
We'll then see that the value of the keywords parameter is a dictionary object with the
value of `{'something_else': 60}` . 

We can then use ordinary dictionary processing
techniques on this structure. The keys and values in this dictionary are the names and
values provided when the function was evaluated.

In [107]:
def rtd2(**keywords):
    """ A function that solves a Rate-Time-Distance (RTD) calculation"""
    rate= keywords.get('rate', None)
    time= keywords.get('time', None)
    distance= keywords.get('distance', None)
    
    if distance is None:
        distance = rate * time
    elif rate is None:
        rate = distance / time
    elif time is None:
        time = distance / rate
    else:
        warnings.warning("Nothing to solve for")
    
    return dict(distance=distance, rate=rate, time=time)

rtd2(distance= 30, rate=5)

{'distance': 30, 'rate': 5, 'time': 6.0}